﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager


@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav-item">
            Olá @User.Identity.Name
        <form method="post" asp-controller="Account" asp-action="Logout">
            <button type="submit" style="width:auto" class="nav-link btn btn-link py-0">
                Logout 
            </button>
        </form>   
    </ul>
}
else
{   
    <ul class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Registro">
            Registrar
        </a>
    </ul>
    <ul class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Login">
            Login
        </a>
    </ul>
}
