﻿@model Login
@{
    ViewBag.Title = "Login";
}
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="Lembre">
            <input asp-for="Lembre" />
            @Html.DisplayNameFor(x => x.Lembre)
            </label>
            </div>
            <button type="submit" class="btn btn-primary"> Login </button>
        </form>

    </div>
</div>
