﻿@model ProjetoLogin.Areas.Admin.Models.AssociarViewModel

<h1>Associar Usuário a Função</h1>

<form asp-action="Associar" method="post">
    @*<div class="form-group">
        <label for="UserId">Selecione um Usuário:</label>
        <select asp-for="UserId" class="form-control">
            <option value="">Selecione um usuário</option>
            @if (Model.Users != null)
            {
                @foreach (var user in Model.Users)
                {
                    <option value="@user.Value">@user.Text</option>
                }
            }
        </select>
    </div>

    <div class="form-group">
        <label for="Role">Selecione uma Função:</label>
        <select asp-for="Role" class="form-control">
            <option value="">Selecione uma função</option>
            @foreach (var role in Model.Roles)
            {
                <option value="@role.Value">@role.Text</option>
            }
        </select>
    </div>*@
    <div class="form-group">
        <label for="SelectedUserId">Selecione um Usuário:</label>
        <select asp-for="SelectedUserId" asp-items="Model.Users" class="form-control">
            <option value="">Selecione um usuário</option>
        </select>
    </div>

    <div class="form-group">
        <label for="SelectedRole">Selecione uma Função:</label>
        <select asp-for="SelectedRole" asp-items="Model.Roles" class="form-control">
            <option value="">Selecione uma função</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Associar</button>
</form>
