﻿@using Microsoft.AspNetCore.Identity
@model List<Microsoft.AspNetCore.Identity.IdentityUser>
@*@model List<Microsoft.AspNetCore.Identity.IdentityRole>*@


<div class="container">

<h1>Lista de Usuários</h1>

<h1>Dados do Primeiro Usuário</h1>



<table class="table">
<thead>
    <tr>
        <th>Nome de Usuário</th>
        <th>Email</th>
    </tr>
</thead>
<tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.Email</td>
        </tr>
    }

        
</tbody>
</table>
    <a class="btn btn-primary" asp-action="Associar" asp-controller="Admin">
        Associar
    </a>
</div>

