﻿@model ProjetoLogin.Models.Faculdade

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Faculdades</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

@*            <div class="form-group">
                <label>Cursos</label>
                <select name="Cursos" class="form-control">
                    @foreach (var item in Model.Alunos)
                    {
                        <option value="@item.Id">@item.Nome</option>
                    }
                </select>
            </div>*@
            <div class="form-group" style="margin-top: 10px">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
