﻿@model IEnumerable<ProjetoLogin.Models.Curso>

<label>Cursos</label>
<select name="Cursos" class="form-control">
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.Nome</option>
    }
</select>