﻿@model ProjetoLogin.Models.Aluno

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Aluno</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" class="form-control" placeholder="000.000.000-00"/>
                <span asp-validation-for="CPF" class="text-danger"></span>         
            </div>

            <div class="form-group">
                <label>Cursos</label>
                <select name="Cursos" class="form-control">
                    @foreach (var item in Model.Cursos)
                    {
                        <option value="@item.Id">@item.Nome</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Cursos</label>
                <select name="Faculdade" class="form-control">
                    @foreach (var item in Model.Faculdade)
                    {
                        <option value="@item.Id">@item.Nome</option>
                    }
                </select>
            </div>
            <div class="form-group" style="margin-top: 10px">
                <input type="submit" value="Concluir" class="btn btn-primary" />
            </div>                                                        
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-warning">Voltar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function () {
        $("#btnBuscarAlunos").click(function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAlunos", "Alunos")", // Substitua "Alunos" pelo nome do seu controller
                success: function (response) {
                    // 'response' contém a lista de alunos como JSON
                    console.log(response);
                    // Aqui você pode fazer o que quiser com os dados retornados, como exibir na página
                },
                error: function (xhr, status, error) {
                    console.log("Erro: " + error);
                }
            });
        });
    });
</script>
}
