﻿@model IEnumerable<ProjetoLogin.Models.Aluno>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class=" btn btn-primary">Cadastrar Aluno</a>
</p>

<div class="container">
    <div class="text-center"> 
        <h1>Filtros</h1>
        <div>
            <div>
                <input class="form-check-input" type="checkbox" id="universidadePositivo">
                <label class="form-check-label" for="universidadePositivo">Universidade Positivo</label>
            </div>
            <div>
                <input class="form-check-input" type="checkbox" id="utfpr">
                <label class="form-check-label" for="utfpr">Universidade Tecnológica Federal do Paraná</label>
            </div>
            <div>
                <input class="form-check-input" type="checkbox" id="ufpr">
                <label class="form-check-label" for="ufpr">Universidade Federal do Paraná</label>
            </div>
            <button id="btnFiltrar" class="btn btn-primary">Filtrar</button>
            <button id="btnLimparFiltro" class="btn btn-secondary"> Limpar Filtro</button>
        </div>
        <div>
            @*@await Html.PartialAsync("_CursosPartial");*@
        </div>
        @*<div class="form-group" style="margin-top: 10px">
            <button type="button" id="btnBuscarAlunos" class="btn btn-secondary">Buscar Alunos</button>
        </div>*@
    </div>
    <table id="tabela-alunos" class="table trans">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    Cursos
                </th>
                <th>
                    Universidades
                </th>
                <th>
                    Mais
                </th>
            </tr>
        </thead>
        <tbody  id="tabela-alunos-body">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @foreach (var curso in item.Cursos)
                        {
                            @curso.Nome

                            <br />
                        }
                    </td>
                    <td class="universidades">
                        @foreach (var faculdade in item.Faculdade)
                        {
                            @faculdade.Nome

                            <br />
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
@section scripts{
    <script>
        let table = new DataTable('#tabela-alunos');
    </script>

    <script>
        $(document).ready(function () {
            
            // Função para aplicar o filtro
            function aplicarFiltro() {
                var checkboxes = $(".form-check-input");
                var universidadePositivo = $("#universidadePositivo").is(":checked");
                var utfpr = $("#utfpr").is(":checked");
                var ufpr = $("#ufpr").is(":checked");
                $("#tabela-alunos tbody tr").each(function () {
                    var linha = $(this);
                    var universidades = linha.find(".universidades").text();
                    var mostrarLinha = true;

                    if (!checkboxes.is(":checked")) {
                        // Se nenhum checkbox estiver marcado, mostrar a linha
                        linha.show();
                        return; // Pular para a próxima iteração
                    }

                    if ((universidadePositivo && universidades.includes("Universidade Positivo")) ||
                        (utfpr && universidades.includes("Universidade Tecnológica Federal do Paraná")) ||
                        (ufpr && universidades.includes("Universidade Federal do Paraná"))) {
                        linha.show();
                    } else {
                        linha.hide();
                    }
                });

                
            }
          
            // Ao clicar no botão Filtrar, chama a função de aplicar o filtro            
            $("#btnFiltrar").click(function () {
                aplicarFiltro();
            });

            function mostrarTodasLinhas() {
                $("#tabela-alunos tbody tr").show();

                // Desmarca os checkboxes
                $("#universidadePositivo").prop("checked", false);
                $("#utfpr").prop("checked", false);
                $("#ufpr").prop("checked", false);
            }

            // Ao clicar no botão Limpar Filtro, mostra todas as linhas
            $("#btnLimparFiltro").click(function () {
                mostrarTodasLinhas();
            });

            //$("#btnBuscarAlunos").click(function () {
            //    $.ajax({
            //        type: "GET",
            //        url: "@Url.Action("GetAlunos", "Alunos")", // Substitua "Alunos" pelo nome do seu controller
            //        success: function (response) {
            //            // 'response' contém a lista de alunos como JSON
            //            window.location.href
            //            // Aqui você pode fazer o que quiser com os dados retornados, como exibir na página
            //        },
            //        error: function (xhr, status, error) {
            //            console.log("Erro: " + error);
            //        }
            //    });
            //});


            // Chama a função de carregar alunos ao clicar no botão
            //$("#btnBuscarAlunos").click(function () {
            //    carregarAlunos();
            //});
            
        });

    </script>
}
